<!DOCTYPE html>
<html lang="en">

  <head>

    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8" />

    <title>NotConf - {{title}}</title>

    <link rel="stylesheet" href="/css/boilerplate.css" type="text/css" />
    <link rel="stylesheet" href="/css/global.css" type="text/css" />
    <link rel="stylesheet" href="/css/query.css" type="text/css" />

    <script type="text/javascript" src="http://use.typekit.com/qou1mhh.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28689000-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>

  <body>

  <header>
    <div id="header-content" class="clearfix">
      <a href="/" title="NotConf" id="logo">NotConf</a>
      <div id="blurb">
        <p><span>a JSConf pre-conference</span><span class="lefties"> in the heart of</span> <span id="script">Phoenix</span></p>
        <a href="/register" class="btn teal">Register to Attend</a>
      </div>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/details" title="Details" class="{{details}}">Details</a></li>
      <li><a href="/schedule" title="Schedule" class="{{schedule}}">Schedule</a></li>
      <li><a href="/register" title="Register" class="{{register}}">Register</a></li>
      <li class="twitter"><a href="http://twitter.com/NotConf" title="@NotConf" target="_blank">@NotConf</a><a href="https://twitter.com/#!/search/notconf" title="#notconf" target="_blank">#notconf</a></li>
    </ul>
  </nav>
  <div id="content" class="clearfix">
    <section id="{{sectionId}}">
      {{{ body }}}
    </section>
    <section id="sidebar">
      <div class="callout">
        <h3>Show AZ your skillz!</h3>
        <p>Give a talk or run a demo at NotConf.</p>
        <a href="/register/speaker" title="Apply to speak/demo" class="btn teal">Apply to speak/demo</a>
      </div>
      <h3>Our Generous Sponsors</h3>
      <ul id="sponsors" class="clearfix">
        <li id="meltmedia"><a href="http://meltmedia.com" target="_blank" title="meltmedia"><img src="/images/sponsor-meltmedia.png" alt="meltmedia" /></a></li>
        <li id="unicon"><a href="http://unicon.net" target="_blank" title="Unicon"><img src="/images/sponsor-unicon.png" alt="Unicon" /></a></li>
        <li id="jsconf"><a href="http://2012.jsconf.us/" target="_blank" title="JSConf 2012"><img src="/images/sponsor-jsconf.png" alt="JSConf 2012" /></a></li>
        <li id="phxtagsoup"><a href="http://tagsoup.github.com/" target="_blank" title="Phx Tag Soup"><img src="/images/sponsor-phxtagsoup.png" alt="Phx Tag Soup" /></a></li>
      </ul>
      <div class="callout">
        <h3>Want in on the fun?</h3>
        <a href="/register/sponsor" title="Sponsor NotConf" class="btn grey">Sponsor NotConf</a>
      </div>
    </section>
  </div>
  <footer class="clearfix">
    <div id="tech-prop">
      <a href="https://github.com/meltmedia/notconf" target="_blank" title="Hosted on GitHub">Hosted on GitHub</a> &#38; <a href="http://flatironjs.org/" target="_blank" title="Running on Flatiron">Running on Flatiron</a>
    </div>
    <p>&#169; Copyright 2012 NotConf. All rights reserved. Powered by <a href="http://meltmedia.com" target="_blank" title="meltmedia">meltmedia</a>.</p>
  </footer>

  </body>

</html>
